[Unit]
Description=Ethernet over USB gadget Service

[Service]
type=oneshot
ExecStart=/bin/sh /usr/local/sbin/gadget.sh

[Install]
WantedBy=default.target
